
.stilo{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid gray;
  box-sizing: border-box;
  height: 100px;
}

.contenedor{
  height: 400px;
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/