<h2>Products</h2>
<cdk-virtual-scroll-viewport itemSize="10" class="contenedor">
<div *cdkVirtualFor="let product of products" class="stilo">

  <h3>
    <a [title]="product.name + ' details'">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>

  
</div>
</cdk-virtual-scroll-viewport>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->